.wrapper {
  display: flex;
}
.wrapper input,
.wrapper button {
  font-size: 1.1rem;
  padding: 7px 10px;
}
.wrapper input {
  flex-grow: 1;
  margin-right: 8px;
  padding: 8px;
}
.wrapper button {
  color: #fff;
  background: #BA44AE;
  cursor: pointer;
}
.wrapper button:disabled {
  cursor: initial;
}
