.ask {
  font-size: medium;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.notice li {
  padding: 4px 8px;
}
.notice li:last-child {
  margin-bottom: 4px;
}
.notice h4 {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: bold;
}
.notice h4:after {
  content: ' ';
  display: inline-block;
  height: 2px;
  background: #ffc700;
}
.notice h4:last-child {
  margin-bottom: 4px;
}
.askButton {
  font-size: 1.1rem;
  padding: 12px 16px 12px 16px;
  color: #fff;
  background: #463e39;
}
.askButton:disabled {
  opacity: 0.5;
}
.input {
  padding: 8px 0 8px 0;
}

.wrapperParty {
  div {
    border: none;
    color: #BA44AE;
  }

  input {
    caret-color: black;
    color: black;
    background-color: white;
  }
}

.wrapper {
  div {
    border: none;
    color: #BA44AE;
  }

  input {
    border-radius: 4px;
    border: none;
    padding: 11px 14px;
    font-size: medium;
    background-color: white;
  }

  input::placeholder {
    color: grey;
  }

  button {
    border-radius: 4px;
    border: 0;
  }

  button:disabled {
    background-color: grey;
  }
}