.react-tabs {
  -webkit-tap-highlight-color: transparent;
  font-family: 'Noto Sans KR';
  color: white;
}
.react-tabs__tab-list {
  margin: 0 0 12px;
  display: flex;

  li:nth-child(1).react-tabs__tab--selected {
    border-right: 2px solid white;
    box-shadow: inset -2px 2px #B47CDA;
    border-bottom: none;
  }

  li:nth-child(2).react-tabs__tab--selected {
    border-left: 2px solid white;
    box-shadow: inset 2px 2px #B47CDA;
    border-bottom: none;
  }

  li[aria-selected="false"] {
    border-bottom: 2px solid white;
  }
}
.react-tabs__tab {
  flex: 1 1 0;
  text-align: center;
  border: 1px solid transparent;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 0;
  border: none;
  outline: none;
  background-color: transparent;
}
.react-tabs__tab--selected {
  background-color: #A55ECB;
  border-top: 2px solid white;
  font-weight: bold;
  
  p {
    color: white;
  }
}
.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}
.react-tabs__tabfocus {
  box-shadow: 0 0 5px #0188fe;
  border-color: #0188fe;
  outline: none;
}
.react-tabs__tabfocusafter {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}
.react-tabs__tab-panel {
  display: none;
}
.react-tabs__tab-panel--selected {
  display: block;
  color: var(--font-color);
  border: none
}

