@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR);
@import url(https://fonts.googleapis.com/css2?family=Abel);

.mainWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #E38FDD;
  min-height: 1000px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 4rem 1rem;
  background: linear-gradient(#1C63E9, 20%, #E690DD, 80%, #1C63E9);
  width: 360px;
  min-height: 1000px;
  text-align: center;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 360px;
  height: 100px;
  font-family: 'Abel', 'Noto Sans KR', 'Pretendard';
}

.title {
  width: 360px;
  height: 190px;
  margin-top: 30px;
  position: relative;
}

.worker {
  font-size: x-large;
  word-break: keep-all;
}

.footer {
  color: white;
}

.blue {
  background-color: #3168E8;
}

.purple {
  background-color: #E38FDD;
}

.purpleButton {
  margin-top: 16px;
  background-color: #E38FDD;
  width: 320px;
  height: 64px;
  border: none;
  border-radius: 32px;
}

.whiteButton {
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid white;
  border-radius: 40px;
  width: 288px;
  height: 80px;
  margin: auto;
  left: 0;
  right: 0;
  top: 65px;
  bottom: 0;
}

.whiteButtonTitle {
  font-size: xx-large;
  font-weight: bold;
  position: absolute;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 20px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons {
  margin-top: 20px;
  margin-bottom: 10px;
}

.circle {
  display: flex;
  width: 64px;
  height: 64px;
  margin-left: 20px;
  margin-right: auto;
  margin-top: 16px;
  border-radius: 32px;
  gap: 0px;
  opacity: 0px;
}

.circleTitle {
  margin: auto;
  font-family: Abel;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  text-align: center;
}

.year {
  margin-left: auto;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.2);
  font-family: Abel;
  font-size: 80px;
  font-weight: 400;
  line-height: 100px;
  text-align: left;
}

.message {
  color: white;
  font-family: 'Noto Sans KR', 'Pretendard';
  vertical-align: middle;
}

.textarea {
  font-size: x-large;
  font-weight: 550;
  word-break: keep-all;
  text-align: center;
  position: relative;
}

.speech {
  width: 320px;
  background-color: #ffffff 15%;
  margin-bottom: 24px;
  padding-top: 24px;
  padding-bottom: 24px;

  box-shadow: 2px 2px 12px 0px #00000040;
  border: 3px solid #ffffff;

  font-family: Noto Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;

  background: #FFFFFF26;
}

.worker {
  padding-top: 48px;
  padding-bottom: 48px;
}

.contactText {
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 24px;
}

.contactEmail {
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
}