@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR);
@import url(https://fonts.googleapis.com/css2?family=Abel);

.mainWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #E38FDD;
  min-height: 1000px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 4rem 1rem;
  background: linear-gradient(#1C63E9, 20%, #E690DD, 80%, #1C63E9);
  width: 360px;
  min-height: 1000px;
  text-align: center;
}

.logo {
  width: 360px;
  height: 100px;
  position: relative;
  font-family: 'Abel', 'Noto Sans KR', 'Pretendard';
}

.title {
  width: 360px;
  height: 190px;
  margin-top: 30px;
  position: relative;
}

.worker {
  font-size: x-large;
  word-break: keep-all;
}

.footer {
  color: white;
}

.blue {
  background-color: #3168E8;
}

.purple {
  background-color: #E38FDD;
}

.purpleButton {
  background-color: #E38FDD;
  width: 240px;
  height: 66px;
  border: none;
  border-radius: 33px;
}

.whiteButton {
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid white;
  border-radius: 40px;
  width: 288px;
  height: 80px;
  margin: auto;
  left: 0;
  right: 0;
  top: 65px;
  bottom: 0;
}

.whiteButtonTitle {
  font-size: xx-large;
  font-weight: bold;
  position: absolute;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 20px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons {
  margin-top: 20px;
  margin-bottom: 10px;
}

.circle {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  display: block;
  color: white;
  text-align: center;
  position: absolute;
  margin: auto;
  left: 60px;
  top: 0;
  bottom: 0;
}

.year {
  color: rgba(255, 255, 255, 0.2);
  font-size: 60px;
  display: block;
  text-align: center;
  position: absolute;
  right: 60px;
  top: 12px;
}

.message {
  color: white;
  font-family: 'Noto Sans KR', 'Pretendard';
  vertical-align: middle;
}

.textarea {
  font-size: x-large;
  font-weight: 550;
  word-break: keep-all;
  text-align: center;
  position: relative;
}

.result {
  padding-top: 100px;
}

.worker {
  padding-top: 100px;
  padding-bottom: 100px;
}

.subtitle {
  margin-bottom: 50px;
}