.title {
  text-align: center;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 12px;
  list-style-type: none;
}
.member {
  position: relative;
  text-align: center;
  width: 140px;
  height: auto;
  margin-right: 8px;
}
.member .affiliation {
  position: absolute;
  top: 40px;
  width: 100%;
}
.member .name {
  --radius: 100px;
  width: var(--radius);
  height: var(--radius);
  padding-top: 12px;
  border-radius: 50%;
  margin: 0 auto;
  background: linear-gradient(120deg, #466de7, #e490dd);
  font-weight: 600;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.member p {
  font-size: 12px;
  background: white;
  padding: 6px;
  margin: auto 0;
  border-radius: 8px;
  border: 2px solid #5b5b5e;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.member .party {
  border-bottom: 2px dashed #5b5b5e;
  font-weight: 700;
}
.member .region {
  border-top: none;
}

/*
  h3
    position relative
    width 100px
    height 50px
    margin 0 auto
    padding 8px
    border-top 2px solid #5A4D46
    border-right 2px solid #5A4D46
    border-left 2px solid #5A4D46
    border-radius 50px 50px 0 0
    background #FFC700

  p
    position absolute
    margin 0
    width 156px
    height 24px
    border-right 2px solid #5A4D46
    border-left 2px solid #5A4D46
    border-radius 4px
    line-height 1.9em
    background white
  .name
    font-size 1.0rem
  .party
    top 36px
    font-size 0.8rem
    border-top 2px solid #5A4D46
    border-bottom 1px dashed #5A4D46
  .region
    top 63px
    border-bottom 2px solid #5A4D46
    font-size 0.75rem
*/
.responses ul {
  display: flex;
  justify-content: center;
}
.responses ul li {
  padding: 1px;
}
.responses ul li span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
}
.responses .true {
  background: #066a3e;
}
.responses .false {
  background: #c91226;
}
.responses .null {
  background: #f4cc1a;
}
