:global html,
:global body,
:global div,
:global ul,
:global li,
:global input,
:global h1,
:global h2,
:global h3,
:global h4,
:global h5 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:global body {
  font-family: "Noto Sans KR", sans-serif;
}
:global li {
  list-style: none;
}
:global a {
  color: inherit;
}
:global strong {
  background: #ffc700;
  color: color-strong;
}
:global input,
:global button {
  border: 1px solid color-secondary;
  border-radius: 4px;
}
.container {
  margin: 0 auto;
  padding: 20px 20px 40px 20px;
  max-width: 640px;
}
.container > h1 {
  margin: 20px 0 20px 0;
  text-align: left;
}
.container > h1 > span {
  display: inline-block;
}
.container > h3 {
  margin: 20px 0 20px 0;
  text-align: center;
}
.logo {
  position: relative;
  max-width: 720px;
  margin: auto;
  text-align: right;
  font-size: 0;
}
.logo h3 {
  height: 32px;
}
.logo h3 a {
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 58px;
  height: auto;
}
.logo h3 a img {
  margin: 4px;
}
.logo h3 span {
  position: absolute;
  top: 12px;
  left: 8px;
  font-size: 10px;
  color: color-secondary;
}
